.container-contato {
    background-color: var(--cor-2);
    padding-top: 80px;
    padding-bottom: 80px;
    position: relative;
}

.titulo-contato {
    font-family: 'Black Han Sans', sans-serif;
    color: rgba(255, 255, 255, 0.5);
    text-align: start;
    position: absolute;
    font-size: 5em;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.contato {
    margin: 50px 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contato-info,
.contato-form {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.contato-info_box {
    background-color: var(--cor-1);
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 5px 1px 5px rgba(0, 0, 0, 0.5);
    width: 300px;
    padding: 8px 10px;
    margin-bottom: 25px;
    border-radius: 0 10px 10px 10px;
}

.contato-info_box h3 {
    font-family: 'Black Han Sans', sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.contato-info_box p {
    position: relative;
    z-index: 5;
    margin-bottom: 8px;
}


.contato-info_box.telefone,
.contato-info_box.email,
.contato-info_box.whatsapp {
    position: relative;
    z-index: 5;
}

.contato-info_box.telefone::before {
    font-family: "Font Awesome 5 Free";
    content: "\f095";
    position: absolute;
    top: 50%;
    right: 23px;
    transform: translateY(-50%);
    color: #333;
    font-size: 3em;
    font-weight: 900;
}

.contato-info_box.email::after {
    font-family: "Font Awesome 5 Free";
    content: "\f0e0";
    position: absolute;
    top: 50%;
    right: 23px;
    transform: translateY(-50%);
    color: #333;
    font-size: 3em;
    font-weight: 900;
}

.contato-info_box.whatsapp::after {
    font-family: "Font Awesome 5 Free";
    content: "\f27a ";
    position: absolute;
    top: 50%;
    right: 23px;
    transform: translateY(-50%);
    color: #333;
    font-size: 3em;
    font-weight: 900;
}


.form {
    background-color: var(--cor-1);
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 5px 1px 5px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;

    min-width: 400px;
}

.form-control {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.form h3 {
    font-size: 1.7rem;
    padding: 25px;
}

.form-control label {
    margin-bottom: 5px;
}

.form-control input,
.form-control textarea {
    outline: none;
    padding: 8px;
    width: 100%;
    border: 2px solid var(--cor-4);
    border-radius: 10px;
    background: none;
    font-size: 16px;
    margin-bottom: 15px;
}

.form-control textarea::placeholder{
    font-family: Arial, Helvetica, sans-serif;
}

.btn-input {
    padding: 8px 10px;
    background-color: var(--cor-4);
    outline: none;
    border: none;
    color: black;
    margin: 25px;
    border-radius: 5px;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
    transition: all .5s;
}

.btn-input:hover {
    background-color: var(--cor-4);
    box-shadow: 0px 0px 30px var(--cor-4);
}

.btn-input:active {
    transform: translate(0px, 3px);
}


@media (max-width: 900px){
    .contato{
        grid-template-columns: 1fr;
    }

    .contato-info{
        margin-bottom: 30px;
    }

    .contato-info_box{
        margin-bottom: 10px;
    }

    .contato-info_box:nth-child( 1 ) {
        margin-left: -80px;
    }
    .contato-info_box:nth-child( 3 ) {
        margin-left: 80px;
    }
}

