.footer {
    background-color: var(--cor-1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 100px;
}

.footer .icon-social{
    margin: 5px;
}

@media (max-width: 700px){
    .footer{
        padding: 20px;
    }

}