.header {
    width: 100vw;
    height: 80px;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    border-bottom: 0px solid transparent;

}


.header.ativar {
    background-color: var(--cor-1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.nav {
    display: flex;
    align-items: center;
    height: 100%;
}

.logo {
    font-weight: 800;
    font-size: 1.5rem;
}

.nav-links {
    display: flex;
}

.nav-link {
    list-style: none;
    margin-right: 2rem;
    letter-spacing: 2px;
    position: relative;
    z-index: 1;
    padding: 5px;
}

.nav-link a {
    color: white;
    transition: all .5s ease-in-out;
}

.nav-link a::after {
    content: "";
    width: 100%;
    height: 0%;
    background: var(--cor-4);
    position: absolute;
    top: 50%;
    left: 0;
    z-index: -1;
    transition: all .5s ease-out;
}

.nav-link.ativo::after {
    content: "";
    width: 100%;
    height: 2px;
    background: var(--cor-4);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 1s;
}

.nav-link.ativo:before {
    content: "";
    width: 100%;
    height: 2px;
    background: var(--cor-4);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    transition: all 1s;
}

.nav-link::after {
    content: "";
    width: 100%;
    height: 2px;
    background: transparent;
    position: absolute;
    top: -10px;
    left: 0;
    z-index: -1;
    transition: all .5s ease-in-out;
}

.nav-link::before {
    content: "";
    width: 100%;
    height: 2px;
    background: transparent;
    position: absolute;
    bottom: -10px;
    left: 0;
    z-index: -1;
    transition: all .5s ease-in-out;
}

.nav-link:hover::after,
.nav-link:hover::before {
    bottom: 0;
    background: var(--cor-4);
}

.nav-link:hover::after {
    top: 0;
    background: var(--cor-4);
}

.nav-link:hover a::after {
    top: 2px;
    width: 100%;
    height: 90%;
}

.nav-link:hover a {
    color: black;

}

.menu-mobile {
    display: none;
}


@media (max-width: 1000px) {
    .header{
        padding: 0 80px;
    }

    .menu-mobile {
        display: block;
        height: 3px;
        width: 35px;
        background-color: white;
        position: relative;
        transition: all .5s ease-in-out;
    }

    .menu-mobile::after {
        content: '';
        height: 3px;
        width: 35px;
        background-color: white;
        position: absolute;
        top: 13px;
        transition: all .5s ease-in-out;
    }

    .menu-mobile::before {
        content: '';
        height: 3px;
        width: 35px;
        background-color: white;
        position: absolute;
        bottom: 13px;
        transition: all .5s ease-in-out;
    }

    .menu-mobile.ativo {
        background-color: transparent;
        top: 5px;
    }

    .menu-mobile.ativo::after {
        top: -4px;
        transform: rotateZ(-45deg);
    }

    .menu-mobile.ativo::before {
        bottom: 4px;
        transform: rotateZ(45deg);
    }

    .nav{
        position: absolute;
        right:-100%;
        top: 100%;
        align-items: start;
        justify-content: center;
        visibility: hidden;
        width: 50%;
        height: 600px;
        border-radius:0 100%;
        transition: all 1s ease-out;
        background-color: var(--cor-2);
        
    }
    
    .nav.ativo{
        height: 600px;
        right: 0%;
        border-radius:0 4px;
        visibility: visible;
    }
    
    .nav-links{
        flex-direction: column;
        justify-content: center;
    }

    .nav-link{
        margin-top: 20px;
        margin-bottom: 50px;
        text-align: center;
        margin-right: 0;
    }

    .nav-link a {
        font-size: 2rem;
    }

    .header {
        padding: 0px 26px;
        display: flex;
        justify-content: space-between;
    }

}
