@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');

.sobre {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: var(--cor-2);
    padding: 100px 0;
    position: relative;
}

.titulo-sobre {
    font-family: 'Black Han Sans', sans-serif;
    color: rgba(255, 255, 255, 0.5);
    text-align: start;
    position: absolute;
    font-size: 5em;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.sobre-image {
    display: flex;
    justify-content: center;
    transition: all 1s;
}

.sobre-image img {
    cursor: pointer;
    width: 300px;
    height: 400px;
    object-fit: cover;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-left: 1px solid rgba(255, 255, 255, 0.3) ;
    box-shadow:  5px 5px 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}


.sobre-texto {
    padding: 0 20px;
}

.card-sobre {
    max-width: 300px;
    height: 400px;
    background-color: var(--cor-3);
    padding: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-left: 1px solid rgba(255, 255, 255, 0.3) ;
    box-shadow:  5px 5px 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    transition: all 1s;
    cursor: pointer;
}

.card-sobre:hover, .sobre-image:hover{
    transform: translateY(-20px);
}



.card-titulo {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 30px;
}



.card-titulo::before {
    content: '';
    background-color: var(--cor-4);
    width: 100px;
    height: 4px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);

}



.card-titulo>h1 {
    font-family: 'Black Han Sans', sans-serif;
    color: rgb(255, 255, 255);
    text-align: start;
    position: relative;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;

}

.card-btn:hover .card-titulo h1,
.card-btn:hover {
    color: blue;
}